= content_for :javascripts do
  = javascript_include_tag 'editor_page'

= content_for :stylesheets do
  = stylesheet_link_tag 'editor_page'

%section.player-top-btns.mini
  .container
    .col-md-6
      %a.btn.view-songs
        = image_tag asset_url('plus-ico.png')
        Create new song
        %form#create_new
          %input.form-control.custom-input#add_new_song{ placeholder: "Youtube url", type: "text", name: "youtube_url"}
          %input{name: "authenticity_token", type: "hidden", value: "#{form_authenticity_token}"}
    .col-md-6
      .share-song-holder
        %a.btn.share-song.publish
          = image_tag asset_url('share-ico.png')
          - if @song
            - if @song.published
              Unpublish
            - else
              Publish
          - else
            Publish/Unpublish
        .publish-options
          - if !@song.blank?
            %form
              .form-group
                = text_field_tag 'artist', (@song.nil? ? '' : @song.artist), class: 'form-control', placeholder: 'Artist', required: true
                = hidden_field_tag 'song_id', (@song.nil? ? '' : @song.id)
              .form-group
                = text_field_tag 'title', (@song.nil? ? '' : @song.title), class: 'form-control', placeholder: 'Title', required: true
              .form-group
                = select_tag "genreSelect", options_for_select(select_genre_data, (@song.nil? ? '' : @song.genre_id)), class: "form-control", prompt: "Select Genre", id: "genreSelect",required: true
              .form-group
                = select_tag "diffSelect", options_for_select(select_difficulty_data, (@song.nil? ? '' :@song.difficulty_id)), class: "form-control", prompt: "Select Difficulty", id: "diffSelect", required: true
              .submit-holder
                %a{ class: "btn", id: "pub_btn", onclick: "publish_song()" }
                  = image_tag 'rock-ico.png', alt: "Publish"
                  - unless @song.blank?
                    - if @song.published
                      Unpublish
                    - else
                      Publish
                  - else
                    Publish

%section.fret-with-video
  .container
    .col-md-6.video-area
      #ytplayer_container
    .col-md-6.fret-area
      #fretboard_container

%section.chord-bar
  #timeline_container.container

%section.add-chords
  #palette_container.container


:javascript  
  $('.player-top-btns .view-songs').click(function(){
    $(this).addClass('input-visible');
    $(this).children('.custom-input').focus();
  })

  $(document).click(function (e){
      var btnContainer = $(".player-top-btns .view-songs, .song-list");

      if (!btnContainer.is(e.target) && btnContainer.has(e.target).length === 0){
          btnContainer.removeClass('input-visible');
          btnContainer.removeClass('results-visible');
          btnContainer.children('.custom-input').val('');
      }
  });

  $('.player-top-btns .publish').click(function(){
    $(this).addClass('options-visible');
  })

  $(document).click(function (e){
      var btnContainer = $(".player-top-btns .publish, .publish-options");

      if (!btnContainer.is(e.target) && btnContainer.has(e.target).length === 0){
          btnContainer.removeClass('options-visible');
      }
  });

  $(document).ready( function() {
    song = #{@song.blank? ? 'null;' : @song.to_json}
    if(song != null)
      load_song(song);
  });
