= content_for :javascripts do
  = javascript_include_tag 'editor_page'

= content_for :stylesheets do
  = stylesheet_link_tag 'editor_page'

%section.player-top-btns.mini
  .container
    .col-md-6
      %a.btn.view-songs
        = image_tag asset_url('plus-ico.png')
        Create new song
        %input.form-control.custom-input{ placeholder: "Youtube url", type: "text"}
    .col-md-6
      .share-song-holder
        %a.btn.share-song.publish
          = image_tag asset_url('share-ico.png')
          Publish/Unpublish
        .publish-options
          %form
            .form-group
              %input{ type: "text", class: "form-control", placeholder: "Artist" }
            
            .form-group
              %input{ type: "text", class: "form-control", placeholder: "Title" }
            
            .form-group
              %select{ name: "genreSelect", id: "genreSelect", class: "form-control" }
                %option{ value: "0" }
                  Genre
                %option{ value: "1" }
                  Rock
                %option{ value: "2" }
                  Jazz
                %option{ value: "3" }
                  Rock
                %option{ value: "4" }
                  Jazz
            .form-group
              %select{ name: "diffSelect", id: "diffSelect", class: "form-control" }
                %option{ value: "0" }
                  Difficulty
                %option{ value: "1" }
                  Easy
                %option{ value: "2" }
                  Beginner
                %option{ value: "3" }
                  Hard
                %option{ value: "4" }
                  Easy
            .submit-holder
              %a{ href: "#", class: "btn" }
                = image_tag 'rock-ico.png', alt: "Publish"
                Publish

%section.fret-with-video
  .container
    .col-md-6.video-area
      #ytplayer_container
    .col-md-6.fret-area
      #fretboard_container

%section.chord-bar
  #timeline_container.container

%section.add-chords
  #palette_container.container


:javascript  
  $('.player-top-btns .view-songs').click(function(){
    $(this).addClass('input-visible');
    $(this).children('.custom-input').focus();
  })

  $(document).click(function (e){
      var btnContainer = $(".player-top-btns .view-songs, .song-list");

      if (!btnContainer.is(e.target) && btnContainer.has(e.target).length === 0){
          btnContainer.removeClass('input-visible');
          btnContainer.removeClass('results-visible');
          btnContainer.children('.custom-input').val('');
      }
  });

  $('.player-top-btns .publish').click(function(){
    $(this).addClass('options-visible');
  })

  $(document).click(function (e){
      var btnContainer = $(".player-top-btns .publish, .publish-options");

      if (!btnContainer.is(e.target) && btnContainer.has(e.target).length === 0){
          btnContainer.removeClass('options-visible');
      }
  });
