= content_for :javascripts do
  = javascript_include_tag 'player_page'

= content_for :stylesheets do
  = stylesheet_link_tag 'player_page'

%section.player-top-btns
  .container
    .col-md-6
      %a.btn.view-songs
        = image_tag asset_url('plus-ico.png')
        View & Add Songs
        %input.form-control.custom-input#search-song{ placeholder: "Search for Songs & Artists", type: "text"}
      .song-list-holder
    .col-md-6
      .share-song-holder
        %a.btn.share-song.col-md-12
          = image_tag asset_url('share-ico.png')
          Share This Song

        .share-options
          %a.fb.col-md-12#share
            = image_tag asset_url('fb-ico.svg')

%section.fret-with-video
  .container
    .col-md-6.video-area
      #ytplayer_container
    .col-md-6.fret-area
      #fretboard_container

%section.chord-bar
  #timeline_container.container

%section.song-recommendations
  .container
    %h3
      Related Songs
    #related_songs_container.row