= content_for :javascripts do
  = javascript_include_tag 'player_page'

= content_for :stylesheets do
  = stylesheet_link_tag 'player_page'

%section.player-top-btns
  .container
    .col-md-6
      %a.btn.view-songs
        = image_tag asset_url('plus-ico.png')
        View & Add Songs
        %input.form-control.custom-input#search-song{ placeholder: "Search for Songs & Artists", type: "text"}
      .song-list-holder
        .song-list
          .results-songs
          .filter-list.col-xs-12
            .col-xs-6
              = select_tag :genre, options_for_select(select_genre_data), class: 'form-control', prompt: "Select Genre", id: 'search_genre'
            .col-xs-6
              = select_tag :difficulty, options_for_select(select_difficulty_data), class: 'form-control', prompt: "Select Difficulty", id: 'search_difficulty'
          
    .col-md-6
      .share-song-holder
        %a.btn.share-song.col-md-12
          = image_tag asset_url('share-ico.png')
          Share This Song

        .share-options
          %a.fb.col-md-12#share
            = image_tag asset_url('fb-ico.svg')

%section.fret-with-video
  .container
    .col-md-6.video-area
      #ytplayer_container
    .col-md-6.fret-area
      #fretboard_container

%section.chord-bar
  #timeline_container.container

%section.song-recommendations
  .container
    %h3
      Related Songs
    #related_songs_container.row
      - unless @related_songs.blank?
        - @related_songs.each do |song|
          %a{ href: "/player/#{song.youtube_id}-#{song.id}", class: "recommendation-box", style: "background-image:url('//img.youtube.com/vi/#{song.youtube_id}/1.jpg')" }
            .song-info
              %h4= song.title
              %h5= song.artist

:javascript
  $(document).ready( function() {
    song = #{@song.to_json}
    if(song != null)
      load_song(song);
  } );
