%header
  .container
    %a.logo{ href: root_path }
      = image_tag 'logo.png', alt: 'FretX'

    %a.btn.get-fretx{ href: "https://www.indiegogo.com/projects/fretx-the-smart-device-that-teaches-you-guitar-music#/" }
      = image_tag 'rock-ico.png'
      Get FretX

    #userview_container.header-links
      - if current_user.blank?
        / %a{ href: "#", 'data-toggle': "modal", 'data-target': '#signupModal' }
        /   Sign Up
        %a{ href: "#", 'data-toggle': "modal", 'data-target': "#loginModal" }
          Add Your Songs
      - else
        %ul.list-unstyled
          %li.dropdown.txt
            %a#logout.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
              = current_user.name
            %ul.dropdown-menu
              - unless current_user.blank?
                %li
                  %a.submenu{ "data-target" => "#my-song", "data-toggle" => "modal", type: "button" } My Songs
              %li
                = link_to 'Editor', editor_path, class: 'submenu'
              %li
                = link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'submenu'

- unless current_user.blank?
  #my-song.modal.fade{role: "dialog"}
    .modal-dialog
      .modal-content.player-top-btns
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title My Songs
        .modal-body
          - if @my_songs
            %table.table
              - @my_songs.each do |song|
                %tr
                  %td
                    %a.song{ href: "/#{action_name == 'editor' ? 'editor' : 'player' }/#{song.youtube_id}-#{song.id}" }
                      %img{ src: "//img.youtube.com/vi/#{song.youtube_id}/1.jpg" }/
                  %td{ width: '80%' }
                    %a.song{ href: "/#{action_name == 'editor' ? 'editor' : 'player' }/#{song.youtube_id}-#{song.id}" }
                      %h4 #{song.artist == nil ? '[No Artist]' :  song.artist}
                      %h5 #{song.title == nil ? '[No Title]' :  song.title}

- if current_user.blank?
  #loginModal.modal.fade.login-signup-flow{ tabindex: "-1", role: "dialog" }
    .modal-dialog
      .modal-content
        .modal-body
          %a{ href: user_facebook_omniauth_authorize_path, class: "btn fb" }
            = image_tag 'fb-ico.svg', alt: "Login with Facebook"
            Login with Facebook
          / .account-separated
          /   %h4
          /     Don't have an account?
          /   %a{ href: '#', 'data-toggle': 'modal', 'data-target': '#signupModal', 'data-dismiss': 'modal', class: 'modal-redirect' }
          /     Sign Up

  / #signupModal.modal.fade.login-signup-flow{ tabindex: "-1", role: "dialog" }
  /   .modal-dialog
  /     .modal-content
  /       .modal-body
  /         %h3
  /           Signup today
  /         %a{ href: user_facebook_omniauth_authorize_path, class: "btn fb" }
  /           = image_tag "fb-ico.svg", alt: "Sign up with Facebook"
  /           Sign up with Facebook
  /         .account-separated
  /           %h4
  /             Already a member?
  /           %a{ href: "#", 'data-toggle': 'modal', 'data-target': "#loginModal", 'data-dismiss': "modal", class: "modal-redirect" }
  /             Login