#header
  .third
    #logo
      = image_tag asset_url("logo.png")
  .third
    %a#get_fretx{:href => "http://fretx.rocks", :target => "_blank"}
      = image_tag asset_url("rock-ico.png")
      Buy Now
  .third
    #userview_container
      - if !current_user
        %ul#menu
          %li
            = link_to 'Login', user_facebook_omniauth_authorize_path, class: "login"
      - else
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.txt
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.name
              %img{:src => "#{current_user.omniaccount.photo_url}"}/
            %ul.dropdown-menu
              %li.txt
                = link_to 'Editor', editor_path
                = link_to 'Logout', destroy_user_session_path, method: "delete", class: "login"