!!!
%html
  %head
    :plain
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title #{ ENV['APPLICATION_NAME'] }
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :javascripts
    = yield :stylesheets
  %body
    = render 'layouts/header'
    = yield
