!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "https://s3.eu-central-1.amazonaws.com/fretx.rocks/Facebook+share+1200x1200.png", :property => "og:image"}/
    %meta{:content => "FretX", :property => "og:site_name"}/
    %meta{:content => "The BEST Platform to LEARN songs", :property => "og:title"}/
    %meta{:content => "FretX platform shows you how to play songs in FUN and DYNAMIC Way! Click HERE and START TODAY", :property => "og:description"}/
    %title #{ ENV['APPLICATION_NAME'] }
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :javascripts
    = yield :stylesheets
  %body
    = render 'layouts/header'
    = yield
